trunk/ndt/DataFiles/TourneyData.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" >
  <!-- Required tables necessary at download for entry information -->
<xs:element name="TOURN">
  <xs:complexType>
    <xs:sequence>
      <xs:element name = "ID" type="xs:integer"/>
      <!-- fields below are optional -->
      <xs:element name = "TOURNNAME" type="xs:string"/>
      <xs:element name = "STARTDATE" type="xs:string" nillable="true"/>
      <xs:element name = "ENDDATE" type="xs:string" nillable="true"/>
      <xs:element name = "USERNAME" type="xs:string" nillable="true"/>
      <xs:element name = "PASSWORD" type="xs:string" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>
<xs:element name="ENTRY" >
  <xs:complexType>
    <xs:sequence>
      <xs:element name = "ID" type="xs:integer" nillable="false" />
      <xs:element name = "SCHOOL" type="xs:integer" nillable="true" />		
      <xs:element name = "EVENT" type="xs:integer" nillable="true" />
      <!-- fields below are optional; CODE is the same as Acronym, and ADA is a disability -->
      <xs:element name = "RATING" type="xs:integer" nillable="true" />
      <xs:element name = "CODE" type="xs:string" nillable="true" />
      <xs:element name = "FULLNAME" type="xs:string" nillable="true" />
      <xs:element name = "DROPPED" type="xs:boolean" />
      <xs:element name = "ADA" type="xs:boolean" nillable="true" />
      <xs:element name = "TUBDISABILITY" type="xs:boolean" nillable="true" />
      <xs:element name = "NOTES" type="xs:string" nillable="true" />
    </xs:sequence>
  </xs:complexType>
</xs:element>
<xs:element name="ENTRY_STUDENT">
  <xs:complexType>
    <xs:sequence>
      <xs:element name = "ID" type="xs:integer" nillable="true"/>
      <xs:element name = "DOWNLOADRECORD" type="xs:integer" nillable="true" />
      <xs:element name = "SCHOOL" type="xs:integer" nillable="true" />		
      <xs:element name = "ENTRY" type="xs:integer" />
      <xs:element name = "FIRST" type="xs:string" />
      <xs:element name = "LAST" type="xs:string" />
      <xs:element name = "EMAIL" type="xs:string" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>
<xs:element name="EVENT">
  <xs:complexType>
    <xs:sequence>
      <xs:element name = "ID" type="xs:integer" />
      <xs:element name = "EVENTNAME" type="xs:string" />
      <!-- fields below are optional; supported TYPES are Policy, Parli, LD, and WUDC -->
      <xs:element name = "ABBR" type="xs:string" />
      <xs:element name = "TYPE">
        <xs:simpleType>
         <xs:restriction base="xs:string">
           <xs:enumeration value="Policy" />
           <xs:enumeration value="Parli" />
           <xs:enumeration value="Lincoln-Douglas" />
           <xs:enumeration value="WUDC" />
           <xs:enumeration value="Public Forum" />
           <xs:enumeration value="Other" />
        </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>
  <xs:element name="EVENT_SETTING">
    <xs:complexType>
      <xs:sequence>
        <xs:element name = "ID" type="xs:integer" />
        <xs:element name = "EVENT" type="xs:integer" />
        <!-- Supported tags are DebatersPerTeam, Level (open, JV, novice, rookie), nPrelims, nElims -->
        <!-- SideDesignation (A/N, G/O, World4), TeamsPerRound, SideMethod(EqualizePrelims, EqualizeElims, CoinToss) -->
        <xs:element name = "TAG" type="xs:string" />
        <xs:element name = "VALUE" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
<xs:element name="JUDGE">
  <xs:complexType>
    <xs:sequence>
      <xs:element name = "ID" type="xs:integer" />		
      <xs:element name = "DOWNLOADRECORD" type="xs:integer" nillable="true" />		
      <xs:element name = "SCHOOL" type="xs:integer" nillable="true" />
      <xs:element name = "FIRST" type="xs:string"/>
      <xs:element name = "LAST" type="xs:string"/>
      <xs:element name = "OBLIGATION" type="xs:integer"/>
      <xs:element name = "HIRED" type="xs:integer"/>
      <xs:element name = "TABRATING" type="xs:integer" nillable="true"/>
      <xs:element name = "STOPSCHEDULING" type="xs:boolean" nillable="true"/>
      <!-- Indicates a judge with mobility issues who should be given room preference -->
      <xs:element name = "ADA" type="xs:boolean" nillable="true"/>
      <xs:element name = "AVGPREF" type="xs:decimal" nillable="true"/>
      <xs:element name = "NOTES" type="xs:string" nillable="true"/>
      <xs:element name = "EMAIL" type="xs:string" nillable="true"/>
      <!-- Timeslot and division columns are added (boolean) at run time to mark eligibility/availability for different -->
      <!-- divisions and timeslots; columns are named either TIMESLOT or EVENT followed by ID for timeslot or event -->
    </xs:sequence>
  </xs:complexType>
</xs:element>
  <xs:element name="ROOM">
    <xs:complexType>
      <xs:sequence>
        <xs:element name = "ID" type="xs:integer" />
        <xs:element name = "BUILDING" type="xs:integer" nillable="true" />
        <xs:element name = "ROOMNAME" type="xs:string"/>
        <xs:element name = "QUALITY" type="xs:integer"/>
        <xs:element name = "CAPACITY" type="xs:integer"/>
        <xs:element name = "INACTIVE" type="xs:boolean"/>
        <xs:element name = "NOTES" type="xs:string" nillable="true"/>
        <!-- Timeslot and division columns (boolean) are added at run time to mark eligibility/availability for different -->
        <!-- divisions and timeslots; columns are named either TIMESLOT or EVENT followed by ID for timeslot or event -->
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="SCHOOL">
  <xs:complexType>
    <xs:sequence>
      <xs:element name = "ID" type="xs:integer" />
      <xs:element name = "DOWNLOADRECORD" type="xs:integer" nillable="true" />
      <xs:element name = "REGION" type="xs:integer" nillable="true" />
      <xs:element name = "CODE" type="xs:string" />
      <xs:element name = "SCHOOLNAME" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:element>
  <!-- Optional tables used for CAT to pair; not necessary for results reporting -->
<xs:element name="ROUND">
    <xs:complexType>
      <xs:sequence>
        <xs:element name = "ID" type="xs:integer" />
        <xs:element name = "EVENT" type="xs:integer"  />
        <xs:element name = "TIMESLOT" type="xs:integer" />
        <xs:element name = "TB_SET" type="xs:integer" />
        <!-- Rd_Name is numeric; 1-9 are prelims, 10=quads through 16=finals -->
        <xs:element name = "RD_NAME" type="xs:integer" />
        <xs:element name = "LABEL" type="xs:string" />
        <xs:element name = "FLIGHTING" type="xs:integer" nillable="true"/>
        <xs:element name = "JUDGESPERPANEL" type="xs:integer" />
        <!-- Supported judge placement schemes are Random, AssignedRating, and TeamRating -->
        <xs:element name = "JUDGEPLACESCHEME" type="xs:string" />
        <!-- Supported pairing schemes are (case sensitive) Preset, HighHigh, HighLow, Random, Elim, and None -->
        <xs:element name = "PAIRINGSCHEME" type="xs:string" />
        <!-- Mostly for parli -->
        <xs:element name = "TOPIC" type="xs:string" nillable="true"/>
        <!-- For upload only; 0=no changes needed, 1=new round, 2=modified round -->
        <xs:element name = "CREATEDOFFLINE" type="xs:integer" nillable="true"/>
      </xs:sequence>
    </xs:complexType>
</xs:element>
<xs:element name="PANEL">
    <xs:complexType>
      <xs:sequence>
        <xs:element name = "ID" type="xs:integer" />
        <xs:element name = "ROUND" type="xs:integer" />
        <xs:element name = "ROOM" type="xs:string" nillable="true" />
        <xs:element name = "FLIGHT" type="xs:integer" nillable="true" />
     </xs:sequence>
    </xs:complexType>
</xs:element>
  <!-- For ballot, -1 value for judge and/or side indicates a bye -->
<xs:element name="BALLOT">
    <xs:complexType>
      <xs:sequence>
        <xs:element name = "ID" type="xs:integer" />
        <xs:element name = "JUDGE" type="xs:integer" nillable="true" />
        <xs:element name = "PANEL" type="xs:integer" />
        <xs:element name = "ENTRY" type="xs:integer" />
        <xs:element name = "SIDE" type="xs:integer" />
      </xs:sequence>
    </xs:complexType>
</xs:element>
  <xs:element name="BALLOT_SCORE">
     <xs:complexType>
      <xs:sequence>
        <xs:element name = "ID" type="xs:integer" />
        <xs:element name = "BALLOT" type="xs:integer" />
        <xs:element name = "RECIPIENT" type="xs:integer" />
        <!-- 5 standard defaults; 1=ballot/win/vote, 2=speaker points, 3=speaker rank, 4=team points, 5=team rank -->
        <xs:element name = "SCORE_ID" type="xs:integer" />
        <xs:element name = "SCORE" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
</xs:element>
<xs:element name="SCORES">
  <!-- 5 standard defaults; 1=ballot/win/vote, 2=speaker points, 3=speaker rank, 4=team points, 5=team rank -->
      <xs:complexType>
      <xs:sequence>
        <xs:element name = "ID" type="xs:integer" />
        <xs:element name = "SCORE_NAME" type="xs:string" />
        <!-- ScoreFor values are "Team" and "Speaker" -->
        <xs:element name = "SCOREFOR" type="xs:string" />
        <!-- Values are "ASC" and "DESC" -->
        <xs:element name = "SORTORDER" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
</xs:element>
  <xs:element name="SCORE_SETTING">
    <!-- Settings for how raw scores are collected by tiebreaker sets -->
    <xs:complexType>
      <xs:sequence>
        <xs:element name = "ID" type="xs:integer" />
        <xs:element name = "TB_SET" type="xs:integer" />
        <xs:element name = "SCORE" type="xs:integer" />
        <xs:element name = "MAX" type="xs:decimal" />
        <xs:element name = "MIN" type="xs:decimal" />
        <!-- DupesOK is whether duplicate values are ok on the same ballot; generally no for ranks -->
        <!-- and yes for points -->
        <xs:element name = "DUPESOK" type="xs:boolean" nillable="true"/>
        <!-- 5 standard defaults; 1=ballot/win/vote, 2=speaker points, 3=speaker rank, 4=team points, 5=team rank -->
        <xs:element name = "DECIMALINCREMENTS" type="xs:decimal" nillable="true"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="TIEBREAK">
    <xs:complexType>
      <xs:sequence>
        <xs:element name = "ID" type="xs:integer" />
        <xs:element name = "SortOrder" type="xs:integer" />
        <!-- SCORE references to ScoreID in the SCORES table and identifies that it must be collected for this -->
        <!-- tiebreaker to be calculated -->
        <xs:element name = "SCOREID" type="xs:integer" nillable="true"/>
        <!-- If a hi/lo calculation, the number of times to drop the high and low -->
        <xs:element name = "DROPS" type="xs:integer" />
        <!-- Whether the score is for you or your opponents -->
        <xs:element name = "FOROPPONENT" type="xs:boolean" />
        <!-- A descriptive name, like "2x hi-lo speaker points" -->
        <xs:element name = "LABEL" type="xs:string" />
        <!-- tag is for special calcuations.  Currently supported tags: -->
        <!-- "JudgeVariance", "Random", "OppSeed", "Ballots", "OppWins", "OppBallots", "MBA", "Wins" -->
        <!-- Any TAG value other than "None" will over-ride all other settings and perform a custom calculation -->
        <xs:element name = "TAG" type="xs:string" />
        <!-- the tiebreaker set this tiebreaker is linked to -->
        <xs:element name = "TB_SET" type="xs:integer" />
        </xs:sequence>
    </xs:complexType>
</xs:element>
<xs:element name="TIEBREAK_SET">
    <xs:complexType>
      <xs:sequence>
        <xs:element name = "ID" type="xs:integer" />
        <xs:element name = "TBSET_NAME" type="xs:string" />
        <!-- Valid values are "Team" and "Speaker" -->
        <xs:element name = "SCOREFOR" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
</xs:element>
  <!-- Preset elim seed spots established based on the first elim round -->
  <xs:element name="ELIMSEED">
    <xs:complexType>
      <xs:sequence>
        <xs:element name = "ID" type="xs:integer" />
        <xs:element name = "EVENT" type="xs:integer" />
        <!-- ROUND references RoundID, not Rd_Name -->
        <xs:element name = "ROUND" type="xs:integer" />
        <xs:element name = "ENTRY" type="xs:integer" />
        <xs:element name = "SEED" type="xs:integer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- note that the ID numbers MUST be sequential; ID 1 MUST come before timeblock 2, etc. -->
  <xs:element name="TIMESLOT">
    <xs:complexType>
      <xs:sequence>
        <xs:element name = "ID" type="xs:integer" />
        <xs:element name = "TIMESLOTNAME" type="xs:string" nillable="true"/>
        <!-- Could be set with type=time, but that creates problems -->
        <xs:element name = "STARTTIME" type="xs:string" nillable="true"/>
        <xs:element name = "ENDTIME" type="xs:string" nillable="true"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- stores the bracket a team was in during a given prelim; helps reconstruct the bracket with pull-ups/downs -->
  <xs:element name="BRACKET">
    <xs:complexType>
      <xs:sequence>
        <xs:element name = "ID" type="xs:integer" />
        <xs:element name = "ROUND" type="xs:integer" nillable="true"/>
        <xs:element name = "TEAM" type="xs:integer" nillable="true"/>
        <xs:element name = "WINBRACKET" type="xs:integer" nillable="true"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- holds judge preference information -->
  <xs:element name="JUDGEPREF">
    <xs:complexType>
      <xs:sequence>
        <xs:element name = "ID" type="xs:integer" />
        <xs:element name = "TEAM" type="xs:integer" /> <!-- ID from ENTRY field-->
        <xs:element name = "JUDGE" type="xs:integer" /> <!-- ID from JUDGE table-->
        <xs:element name = "RATING" type="xs:integer" nillable="true"/>
        <xs:element name = "ORDPCT" type="xs:decimal" nillable="true"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TOURN_SETTING">
    <xs:complexType>
      <xs:sequence>
        <!-- Current tags are DOWNLOADSITE, ONLINE (3 values are "online," "offline", and "track users" -->
        <!-- Current tags are TOURNEYTYPE (type of debate or multi-event), SUPPRESSNAVMESSAGES -->
        <!-- Current tags are USEACTUALTIME (T/F; use timeslots or actual time values)  -->
        <!-- and CROSSEVENTENTRY (T/F; if T, need to check entrants across timeslot for 2x scheduling -->
        <xs:element name = "TAG" type="xs:string" />
        <xs:element name = "VALUE" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TEAMBLOCK">
    <xs:complexType>
      <xs:sequence>
        <!-- Identifies teams that should not debate one another -->
        <xs:element name = "ID" type="xs:integer" />
        <xs:element name = "TEAM1" type="xs:integer" />
        <xs:element name = "TEAM2" type="xs:integer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="JUDGE_ASSIGN_PARAM">
    <xs:complexType>
      <xs:sequence>
        <!-- Identifies CONSTRAINTS and PARAMETERS for STA Judge Assignment System -->
        <xs:element name = "TIMESLOT" type="xs:integer" />
        <xs:element name = "JUDGE_AGAIN" type="xs:boolean" />
        <xs:element name = "NUM_COHORTS" type="xs:integer" />
        <xs:element name = "BREAKPOINT" type="xs:string" />
        <xs:element name = "INDIV_PREF_WEIGHT" type="xs:string" />
        <xs:element name = "PANEL_PREF_WEIGHT" type="xs:string" />
        <xs:element name = "INDIV_DIFF_WEIGHT" type="xs:string" />
        <xs:element name = "PANEL_DIFF_WEIGHT" type="xs:string" />
        <xs:element name = "JUDGE_PREF_WEIGHT" type="xs:string" />
        <xs:element name = "PREF_TARGET_ABOVE" type="xs:string" />
        <xs:element name = "PREF_TARGET_BREAK" type="xs:string" />
        <xs:element name = "PREF_TARGET_BELOW" type="xs:string" />
        <xs:element name = "MAX_INDIV_DIFF_ABOVE" type="xs:string" />
        <xs:element name = "MAX_INDIV_DIFF_BREAK" type="xs:string" />
        <xs:element name = "MAX_INDIV_DIFF_BELOW" type="xs:string" />
        <xs:element name = "MAX_PANEL_DIFF_ABOVE" type="xs:string" />
        <xs:element name = "MAX_PANEL_DIFF_BREAK" type="xs:string" />
        <xs:element name = "MAX_PANEL_DIFF_BELOW" type="xs:string" />
        <xs:element name = "MAX_LOST_ROUNDS" type="xs:integer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--
  <xs:element name="FINALRANK">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ENTRY">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TIEBREAKER" type="xs:integer" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name = "TB_NAME" type="xs:string" />
      <xs:attribute name = "SortOrder" type="xs:integer" />
      <xs:attribute name = "SortDirection" type="xs:string" />
      <xs:attribute name = "ENTRYID" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="ROUNDRESULT">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="JUDGE">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="JUDGEID" type="xs:integer" />
              <xs:element name="SCORE" type="xs:integer" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name = "RoundName" type="xs:string" />
      <xs:attribute name = "SortOrder" type="xs:string" />
      <xs:attribute name = "RdDesignation" type="xs:string" />
      <xs:attribute name = "RdType" type="xs:string" />
      <xs:attribute name = "TB_NAME" type="xs:string" />
      <xs:attribute name = "Recipient" type="xs:string" />
    </xs:complexType>
  </xs:element>
  -->
</xs:schema>



